.wrapper {
  max-width: 1090px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
}

.wrapper .table {
  background: #fff;
  width: calc(33% - 20px);
  padding: 30px 30px;
  position: relative;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

@media (max-width: 1020px) {
  .wrapper .table {
    width: calc(50% - 20px);
    margin-bottom: 40px;
  }
}

@media (max-width: 698px) {
  .wrapper .table {
    width: 100%;
  }
}


/* --------------------------------------------------------------
# Navigation Menu
-------------------------------------------------------------- */

/* *
* Desktop Navigation */

.navbar {
  padding: 0;
  margin-right: 30px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  color: #32bad7;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
}

.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #32bad7;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  color: #444444;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #cda45e;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/* *
* Mobile Navigation */

.mobile-nav-toggle {
  color: black;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
}

@media (max-width: 991px) {
  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: inherit;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgb(0 0 0 / 0%);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.mobile-nav-toggle {
  position: absolute;
  top: 36px;
  
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  left: 15px;
  padding: 10px 0;
  border-radius: 6px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  /*color: #1a1814; */
  color: #32bad7;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
 /* color: #cda45e; */
  color: #32bad7;
}

.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
 /* color: #cda45e; */
  color: #32bad7;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}


#header {
 /*  background: rgba(12, 11, 9, 0.6); 
 transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  top: 40px;

  */
  background: #f6f7ff;
  opacity: 0.87;
  
  
}

#header.header-scrolled {
  top: 0;
  
}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 40px;
}


.table .price-section {
  display: flex;
  justify-content: center;
}

.price-section .price-area {
  height: 120px;
  width: 120px;
  background: #ffd861;
  border-radius: 50%;
  padding: 2px;
}

.price-section .price-area .inner-area {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid #fff;
  color: #fff;
  line-height: 117px;
  text-align: center;
  position: relative;
}

.price-area .inner-area .text {
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  top: -10px;
  left: 17px;
}

.price-area .inner-area .price {
  font-size: 55px;
  font-weight: 500;
}

.table .package-name {
  width: 100%;
  height: 2px;
  background: #ffecb3;
  margin: 35px 0;
  position: relative;
}

.table .package-name::before {
  position: absolute;
  content: "Basic";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  font-size: 25px;
  padding: 0 10px;
  font-weight: bolder;
}

.table .features li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.features .list-name {
  font-size: 17px;
  font-weight: 400;
}

.features .icon {
  font-size: 15px;
}

.features .icon.check {
  color: #2db94d;
}

.features .icon.cross {
  color: #cd3241;
}

.table .btn {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.table .btn button {
  width: 80%;
  height: 50px;
  font-weight: 700;
  color: #fff;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.basic .price-area, .basic .inner-area {
  background: #ffd861;
}

.basic .btn button {
  background: #fff;
  color: #ffd861;
  border: 2px solid #ffd861;
}

.basic .btn button:hover {
  border-radius: 6px;
  background: #ffd861;
  color: #fff;
}

.Premium .price-area, .Premium .inner-area {
  background: #a26bfa;
}

.Premium .btn button {
  background: #fff;
  color: #a26bfa;
  border: 2px solid #a26bfa;
}

.Premium .btn button:hover {
  border-radius: 6px;
  background: #a26bfa;
  color: #fff;
}

.Ultimate .price-area, .Ultimate .inner-area {
  /*background: #43ef8b;*/
}

.Ultimate .btn button {
  background: #fff;
  color: #43ef8b;
  border: 2px solid #43ef8b;
}

.Ultimate .btn button:hover {
  border-radius: 6px;
  background: #43ef8b;
  color: #fff;
}

.basic .package-name {
  background: #ffecb3;
}

.Premium .package-name {
  background: #a26bfa;
}

.Ultimate .package-name {
  background: #43ef8b;
}

.basic .package-name::before {
  content: "Basic";
}

.Premium .package-name::before {
  content: "Premium";
}

.Ultimate .package-name::before {
  content: "Ultimate";
}

.basic ::selection, .basic .price-area, .basic .inner-area {
  background: #ffd861;
}

.Premium ::selection, .Premium .price-area, .Premium .inner-area {
  background: #a26bfa;
}

.Ultimate ::selection, .Ultimate .price-area, .Ultimate .inner-area {
  /*background: #43ef8b;*/
}

@media (min-width: 300px) {
  .tablet-image {
    width: 100%;
    height: 747.8px;
    margin-top: -134px;
    margin-bottom: -49px;
  }
}

@media (min-width: 300px) {
  .div-2-text {
    text-align: center!important;
  }
}

@media (min-width: 300px) {
  .div-1-text {
    text-align: center!important;
  }
}

@media (min-width: 300px) {
  .row-blue-2 {
    margin-bottom: 70px;
  }
}

@media (min-width: 300px) {
  .row-blue-3 {
    margin-bottom: 70px;
  }
}

@media (min-width: 300px) {
  .section-2 {
    margin-top: 220px;
  }
}

@media (min-width: 576px) {
  .tablet-image {
    width: 100%;
    height: 714.8px;
    margin-bottom: -49px;
    margin-top: -134px;
  }
}

@media (min-width: 768px) {
  .tablet-image {
    width: 347px;
    height: 681.8px;
    margin-bottom: -49px;
    margin-top: -134px;
  }
}

@media (min-width: 768px) {
  .price-colm {
    margin-left: 22px;
    margin-right: 21px;
  }
}

@media (min-width: 768px) {
  .div-1-text {
    text-align: right!important;
  }
}

@media (min-width: 768px) {
  .div-footer-phone-img {
    margin-right: 47px;
  }
}

@media (min-width: 768px) {
  .div-2-text {
    text-align: right!important;
    padding-right: 25px;
  }
}

@media (min-width: 992px) {
  .div-2-image {
    margin-left: -100px;
  }
}

@media (min-width: 992px) {
  .tablet-image {
    width: 467px;
    height: 609.8px;
    margin-bottom: -49px;
    margin-top: -134px;
  }
}

@media (min-width: 992px) {
  .price-colm {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 992px) {
  .div-1-text {
    max-width: 350px;
    padding-bottom: 0px;
    margin-left: 38px;
  }
}

@media (min-width: 992px) {
  .div-1-image {
  }
}

@media (min-width: 992px) {
  .header-content {
    margin-left: -295px;
  }
}

@media (min-width: 992px) {
  .laptop-img {
    margin-left: -195px;
  }
}

@media (min-width: 992px) {
  .div-footer-phone-img {
    margin-left: 18px;
    margin-right: 0;
  }
}

@media (min-width: 992px) {
  .div-footer-email-img {
    margin-right: 37px;
  }
}

@media (min-width: 992px) {
  .div-2-text {
    padding-right: 0;
  }
}

@media (min-width: 1200px) {
  .tablet-image {
    width: 508px;
    height: 662.788px;
    margin-bottom: -49px;
    margin-top: -134px;
  }
}

@media (min-width: 1200px) {
  .div-1-image {
    margin-right: -200px;
    margin-left: 100px;
  }
}

@media (min-width: 1200px) {
  .section-2 {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .div-2-text {
    margin-left: 100px;
  }
}

@media (min-width: 1200px) {
  .div-footer-phone {
    margin-left: 66px;
  }
}

@media (min-width: 1200px) {
  .div-1-text {
    margin-left: 64px;
  }
}

@media (min-width: 1200px) {
  .div-footer-email-img {
    margin-left: 11px;
    margin-right: 0;
  }
}

@media (min-width: 1400px) {
  .tablet-image {
    height: 662.788px;
    margin-bottom: -49px;
    margin-top: -134px;
  }
}

@media (min-width: 992px) {
  .section-2 {
    margin-top: -135px;
  }
}

